<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="UserDbConnection"
			 connectionString=" Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=hospitaldb;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadOnly;MultiSubnetFailover=True "
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="AppName" value="Windows Forms App"/>
		<add key="MaxLoginAttempts" value="5"/>
	</appSettings>
</configuration>
